<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
    
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}}
        <p>Just enter location and search. You'll get co-ordinates temprature in deg_c and precipitation in mm.</p>
    </div>
    {{>footer}}
</body>

</html>